// Layout Settings
$max-site-width: 1200px;

$background-color: #fff;
$primary: #333333;
$primary-light: #666666;
$secondary: #cccccc;

// General Colors
$white: #ffffff;
$ghost-white: #F8F8FF;
$off-white: #FAF9F6;
$light-gray: #DDDDDD;
$gray80: #CCCCCC;
$gray60: #999999;
$gray: #808080;
$dove-gray: #666666;
$dark-gray: #5A5A5A;
$dark-charcoal: #333333;
$black: #000000;

// Typography
$sans-serif: 'Lato', sans-serif;
$serif: 'Arvo', serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$txt-primary: $dark-gray;
$txt-title: $gray;
$txt-inverse-primary: $gray80;
$txt-inverse-title: $white;
